

h3 > small, h4 > small {
  font-weight: normal;
  font-size: 0.75em;
  opacity: 0.5;
  margin-left: 0.5em;
}

body .features {
  background-color: transparent;
  > section {
    padding: 3em 3em 1em 3em;
  }
}

.desktop {
  display: none;
}
@media screen and (min-width: 800px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

.contact {
  display: inline-block;
  margin: 0 0.5em;
  color: white;
}
